:root{
    --baseBG: #2e3436;

    --calBG: #202425;
    --calShadow: #24292b;
    --calMonthBorder: #FFFFFF;
    --calDotBorder:  #000000;
    --calTodayBorder: #041622;
    --calDayPassed:#FC5185 ;
    --calDayLeft: #1DA1F2;

    --quoteText: #c0c2c2;
}

body{
    background-color: var(--baseBG) ;
}

/* *********  Calendar  *********    */

#calendar {
    display: flex;
    flex-direction: column;
    gap: 20px;

    min-width: 50%;
    max-width: 70%;
    padding: 10px 10px;
    margin: 10px auto 15px;

    background-color: var(--calBG);
    border-radius: 1rem;
    /* box-shadow: 4px 5px 6px 2px var(--calShadow); */

    user-select: none;
}
  
.month {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-auto-flow: row;
    gap: 2px;
    
    margin: 3px 3px;
    /* border: 1px solid var(--monthBorder); */
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 3px;
    border: 2px solid var(--calDotBorder) ;
    background-color: var(--calDayLeft);
}

.passed {
    width: 6px;
    height: 6px;
    background-color: var(--calDayPassed);
}

/* *********  Quote  *********    */

#quoteDabba{
    color: var(--quoteText);
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    justify-content: center;
    
    padding: 1px 4px;
    margin: 10px auto 2px;
    max-width: 70%;
}

#quote{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#by{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* *********************    */

