@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

:root{
    --navBG: #353839;
    --navText: #F9ab58;
    --mainBG: #6c7072;
    --mainText: #fbfcf8;
    --popupOptionBG: #616466;
}

body{
    width: 175px;
    margin: 0;
    padding: 0;
    user-select: none;
}

nav{
    background-color: var(--navBG);
    padding: 1px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
nav p{
    font-size: 22px;
    color: var(--navText);
    font-family: 'Averia Serif Libre', cursive;

    margin: 1px;
    padding: 5px;
    height: 30px;
}

main{
    font-size: 16px;
    color: var(--mainText);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--mainBG);
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* *********  show quote  *********    */

.popupOption{
    background-color: var(--popupOptionBG);
    padding: 1px 3px;
    border-radius: 10px;
    width: max-content;
}

/* *********************    */